# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# VS Code and other editor config
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Compiled C files (if any)
*.so

# Testing cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Backup files
*.bak
*.swp
